/* Fonts */

body {
  font-family: "Playfair", serif;
  color: var(--color_Block);
  background-color: var(--color_White);
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Playfair";
  src: url("/assets/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Playfair";
  src: url("/assets/fonts/PlayfairDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Playfair";
  src: url("/assets/fonts/PlayfairDisplay-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Playfair";
  src: url("/assets/fonts/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Playfair";
  src: url("/assets/fonts/PlayfairDisplay-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Playfair";
  src: url("/assets/fonts/PlayfairDisplay-Black.ttf") format("truetype");
  font-weight: 900;
}

:root {
  --color_White: hsl(0, 0%, 100%);
  --color_Warm_Beige: hsl(40, 29%, 84%);
  --color-ivory-cream: hsl(39, 31%, 94%);
  --color-ox-blood: hsl(0, 100%, 8%);
  --color_Block: hsl(0, 0%, 0%);
}

/* Header */

header {
  position: relative;
  width: 100%;
}

/* Header background image */

.header_img {
  width: 100%;
  display: block;
}

/* Header icons */

.header_imgs_Coffea {
  width: 5rem;
}
.header_imgs_Group {
  width: 3rem;
}

/* Navigation */

.ul_header {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 25rem;
  align-items: center;
  margin-top: 2rem;
}

.header_li {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.ul_header a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

/* Center Text on Image */

.header_text_center {
  position: absolute;
  top: 50%;
  left: 17.5%;
  transform: translate(-50%, -50%);
  color: var(--color_White);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

/* First paragraph (Welcome) */

.header_text_center p:first-of-type {
  font-weight: 400;
  margin: 0 auto;
  margin-left: 36%;
}

/* Big Title */

.header_text_center h1 {
  font-weight: 900;
  max-width: 26rem;
  margin: 0 auto;
  font-size: 3rem;
}

/* Second paragraph */

.header_text_center p:nth-of-type(2) {
  max-width: 25rem;
  margin: 0 auto;
  text-align: left;
  margin-top: 15px;
}

/* Button */

.header_text_center button {
  width: 9rem;
  padding: 0.7rem 2rem;
  font-weight: 600;
  margin-left: 35rem;
  margin-top: 1rem;
  border-radius: 2rem;
  color: var(--color_Block);
  background-color: var(--color_White);
}

/* Nav */

nav {
  color: var(--color_Block);
  background-color: var(--color_Warm_Beige);
}
.nav_imgs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}
.img {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.img img {
  margin-top: 3rem;
}

.img p {
  font-weight: 600;
}
.text_up {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 4rem;
  color: var(--color_Block);
}

/* boxs */

.boxs {
  margin: 0;
  padding: 0;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  width: 20%;
  border-radius: 1rem;
  background-color: var(--color-ivory-cream);
}
.box img {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  width: 95%;
}
.box h1 {
  font-weight: 800;
  font-size: 2.5rem;
  margin-left: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}
.box > p {
  font-size: 20px;
  font-weight: 500;
  margin-left: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

.text_btn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.text_btn p {
  font-size: 1.5rem;
  font-weight: 600;
}
.text_btn button {
  width: 8rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  margin: auto;
  color: var(--color_White);
  background-color: var(--color-ox-blood);
}
